.side-details {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;

    .img-div {
        // border: 1px solid white;
        align-items: right;
    }

    .side-text {
        // border: 1px solid blue;
        margin-left: 1rem;
        font-weight: bolder;
        font-size: larger;
        vertical-align: baseline;
    }
}