.side-details {

    .bird {
        display: flex;
        align-items: left;
    }

    .side-data {
        display: flex;
        margin: 0.75rem 0 0 2rem;
        padding: 0.3rem 0 0.3rem 0
    }

    .side-text {
        margin: 0 0 0 0.7rem
    }
}