$pcolor: white;

@mixin brdr {
    border: 2px solid red
}

.t-sidenav {
    // @include brdr;
    display: flex;

    // border: 1px solid yellow;

    .bird-sdata {
        display: flex;
        // border: 1px solid blue
    }
}

.bird {
    // @include brdr;
    margin-top: 5rem;
    margin-left: 5rem;
}

.side-data {
    // @include brdr;
    margin-top: 7rem;
    align-items: center;
    padding: 1.5rem 1rem;
    text-align: left;
}


.twit-btn {
    // @include brdr;
    background-color: rgb(85, 185, 185);
    margin-top: 3rem;
    padding: 1rem 4rem;
    border-radius: 3rem;
}

.side-end {
    border: 1px solid white;
    padding: 1rem;
    align-self: flex-end;
    flex-direction: row-reverse;
}