@mixin brdr {
    border: 2px solid white
}

.home {
    display: flex;
    background-color: black;
    color: white;
    height: 100vh
}

.side-nav {
    @include brdr;
    width: 25%;
}

.main {
    @include brdr;
    width: 50%
}

.cards {
    @include brdr;
    width: 25%
}