@mixin brdr {
    border: 1px solid grey;
    border-left: none;
    border-right: none;
}

@mixin image {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem 0 0
}

.head {
    @include brdr;
    display: flex;
    width: 100%;
    flex-direction: column;

    .head-1 {
        // @include brdr;
        border-top: none;
        display: flex;
        justify-content: space-between;
        padding: 7px 0 7px 15px;
        font-size: 1.25rem;
        text-align: left;

        img {
            @include image
        }
    }

    .head-2 {
        display: flex;

        img {
            @include image;
            margin: 0 1rem 0 1rem;
            padding: 1rem 0 1rem 0
        }

        input {
            background-color: black;
            border: none;
            color: white;
            width: 100%;
        }
    }
}